<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RaiidManagementApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <clear/>
    <add name="MyConnection"
         connectionString="Server=tcp:ghost-dev.database.windows.net,1433;Database=eqdkp-dev;User Id=voelfgar;Password=DvlStrk$2345;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
  </connectionStrings>
    <userSettings>
        <RaiidManagementApp.Properties.Settings>
            <setting name="RaidDumpFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="GameServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="LogFileFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="CharacterName" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultDKPaward" serializeAs="String">
                <value>0</value>
            </setting>
        </RaiidManagementApp.Properties.Settings>
    </userSettings>
</configuration>